#----About APP----
# SMBD Group 2 SIPW (Sistem Informasi Pendaftaran Wisuda)
# Saturday, 09 October 2021 14.59
# https://www.faturrachmanmochammad.id
# V.1.0.0.0 20211023

Django>=3.0,<4.0
gunicorn
psycopg2-binary>=2.8
django-crispy-forms
crispy-bootstrap5
xhtml2pdf